<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                 {% if businesses %} 
                  <h1>These are the top restaurants for {{place}}:</h1>

                  {%for businesses in businesses%} 
            
                   <h3> {{businesses.name}} {{businesses.rating}} {{businesses.phone}}</h3>
                {% endfor %} 
               

              {% else %}
                    <h1>where do you want food recommendations for?</h1>
                    <form action="/" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="place" placeholder="city, state" class="form-control">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                {% endif %}



                <a href="{{ url_for('index') }}">Look up another address</a> <br/>
                <a href="{{ url_for('about') }}">About this project</a>
            </div>
        </div>
    </body>
</html>


